.rootContent {
  min-width: 300px;
}
.rootContent h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.rootContent .fillterMenu {
  gap: 10px;
}
.rootContent .fillterMenu .duringDate {
  width: 300px;
  min-width: 300px;
}
.rootContent .fillterMenu .duringDate #datepicker input:first-child {
  max-width: 150px;
  border-right: none;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}
.rootContent .fillterMenu .duringDate #datepicker input:last-child {
  max-width: 150px;
  border-left: none;
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
}
.rootContent .fillterMenu .duringDate #datepicker span {
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: var(--bs-body-bg);
  border-top: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
}
.rootContent .fillterMenu .interactionButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.rootContent .fillterMenu .interactionButtons .btn {
  min-width: 80px;
}
